nnoremap <silent> <C-q> :q!<CR>
imap jk <esc>
inoremap <silent> jk <Esc>
nnoremap <silent> <Space><Space> :noh<CR>
nmap ss :split<Return>
nmap sv :vsplit<Return>
map sh <C-w>h
map sk <C-w>k
map sj <C-w>j
map sl <C-w>l
nnoremap H gT
nnoremap L gt
nnoremap Y y$
nnoremap <silent> <C-h> <C-w>h
nnoremap <silent> <C-l> <C-w>l
nnoremap <silent> <C-j> <C-w>j
nnoremap <silent> <C-k> <C-w>k
hlsearch
